    <nav>
        <form action="/artist-search" method="get">
        <input type="text" name="searchartist" id="navtxt"/>
        <input type="submit" value="Search for an Artist" id="navbtn">
        </form>
    </nav>