{{> nav}}

    <main>
        {{#each item}}
        <div class="artistcontainer">
        <div class="imgbox"><img src="{{images.[0].url}}" alt="" srcset=""></div>
        <div class="artisttext">
            <h2>{{name}}</h2>
            <div><a href="albums/{{id}}"><button>View Albums</button></a></div>
        </div>
        </div>
        {{/each}}
    </main>